.ourteam-header h1 {
  text-align: center;
  margin-top: 70px;
}

.teamcard-hover {
  z-index: 30;
  position: absolute;
  bottom: -20px;
  /* padding-left: 35px; */
  width: 200px;
  height: 54px;
  margin: 0px 35px;
  background-image: url("../images/btn.png");
  background-repeat: no-repeat;
}
.teamcard-hover1 {
  z-index: 30;
  position: absolute;
  bottom: -20px;
  /* padding-left: 35px; */
  width: 200px;
  height: 54px;
  margin: 0px 35px;
  background-image: url("../images/redbtn.png");
  background-repeat: no-repeat;
}
/* .teamcard-hover:hover {
  background-image: url("../images/redbtn.png") no-repeat;
} */
.imagehere {
  background-image: url("../images/card.png");
  size: 100%;
}
.username {
  font-size: 30px;
  position: absolute;
  /* height: 10px; */
  /* width: 20px; */
  margin: 8px 40px;
  display: block;
  color: #e9eef1;
}

.teamcard-back {
  z-index: 20;
  padding-left: 30px;
  position: relative;
  top: 20%;
}

.teamcard-wrp {
  z-index: 10;
  float: left;
  padding-left: 30px;
}
